#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todolist {
  background-color: #b3b5bbfd;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.todolist h1 {
  color: #464647;
  text-align: center;
  font-size: 2rem;
}
.todolist h2 {
  color: #464647;
  text-align: center;
  font-size: 2rem;
}

.todolist ul {
  list-style-type: none;
  padding: 0;
}

.todolist li {
  background-color: #d328a0;
  color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.todolist input[type="submit"] {
  background-color: hsl(318, 100%, 50%);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.todolist input[type="submit"]:hover {
  background-color:hsl(318, 100%, 50%);
}
